.crudAction{
    margin: 2em;
}
mat-form-field{
    width: 30em;
}
.numberInput{
    width: 15em;
}

.buttonDiv{
    width: 100%;
    text-align: center;
}

/*mat-grid-list{
    border: solid black 1px;
}

mat-grid-tile{
    border: solid black 1px;
}*/