<div class="AllCards" *ngIf="allCards">

    <mat-form-field>
        <mat-label>Sort by ID</mat-label>
        <mat-select [(value)]="currentId" (selectionChange)="getCardById(currentId)">
            <mat-option value="">None</mat-option>
            <mat-option *ngFor="let idOption of idOptions" [value]="idOption">{{idOption}}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <div *ngIf="!currentId">
        <mat-form-field>
            <mat-label>Sort</mat-label>
            <mat-select [(value)]="currentSortType">
                <mat-option value="name">Name</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Sort Direction</mat-label>
            <mat-select [(value)]="currentSortDir">
                <mat-option value="asc">Ascending</mat-option>
                <mat-option value="desc">Descending</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="primary" (click)="getAllCards()">
            <mat-icon>refresh</mat-icon>
        </button>
        <br>
        <br>
    </div>

    <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile *ngFor="let c of allCards">
            <mat-card>
                <mat-card-title>
                    {{c.name}}
                </mat-card-title>
                <mat-card-subtitle>
                    {{c.type.name}}
                </mat-card-subtitle>
                <mat-card-content>
                    {{c.description}}
                </mat-card-content>

                <!--SpellCard Footer-->
                <mat-card-footer *ngIf="c.spelltype">
                    Spell Type: {{c.spelltype}}
                </mat-card-footer>

                <!--MonsterCard Footer-->
                <mat-card-footer *ngIf="c.atk">
                    Level: {{c.level}}
                    <br>
                    Element: {{c.element.name}}
                    <br>
                    Attribute: {{c.attribute}}
                    <br>
                    Archetype: {{c.archetype}}
                    <br>
                    ATK: {{c.atk}} | DEF: {{c.def}}
                </mat-card-footer>

                <mat-card-actions>
                    <button mat-button (click)="deleteCard(c.id)">DELETE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>


    <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[10,50,100]"
        (page)="pageEvent = $event" (page)="getAllCards()"></mat-paginator>

</div>